{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "htmlWhitespaceSensitivity": "css",
        "bracketSameLine": true,
        "singleAttributePerLine": false,
        "printWidth": 120
      }
    }
  ]
}