-- AlterEnum
BEGIN;
CREATE TYPE "DonationStatus_new" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED');
ALTER TABLE "Donation" ALTER COLUMN "status" DROP DEFAULT;
ALTER TABLE "Donation" ALTER COLUMN "status" TYPE "DonationStatus_new" USING ("status"::text::"DonationStatus_new");
ALTER TYPE "DonationStatus" RENAME TO "DonationStatus_old";
ALTER TYPE "DonationStatus_new" RENAME TO "DonationStatus";
DROP TYPE "DonationStatus_old";
ALTER TABLE "Donation" ALTER COLUMN "status" SET DEFAULT 'PENDING';
COMMIT;

-- DropForeignKey
ALTER TABLE "DonationItem" DROP CONSTRAINT "DonationItem_donationId_fkey";

-- AddForeignKey
ALTER TABLE "DonationItem" ADD CONSTRAINT "DonationItem_donationId_fkey" FOREIGN KEY ("donationId") REFERENCES "Donation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

