<div class="space-y-4">
  @for (item of donation()?.items; track item.id) {
  <div class="flex justify-between items-center gap-4">
    <div class="flex items-center gap-4 flex-1">
      <div class="avatar">
        <div class="w-16 h-16 rounded">
          <img [src]="item.Organisation.image" [alt]="item.Organisation.name" />
        </div>
      </div>
      <div>
        <h3 class="font-semibold">{{ item.Organisation.name }}</h3>
        <span class="text-sm text-neutral">Quantity: {{ item.quantity }}</span>
      </div>
    </div>
    <span class="font-semibold"
      >${{ item.amount * item.quantity | number : '1.2-2' }}</span
    >
  </div>
  }
  <div class="divider"></div>

  <div class="flex justify-between items-center font-bold">
    <span>Total</span>
    <span>${{ donation()?.totalAmount | number : '1.2-2' }}</span>
  </div>

  <div class="text-sm text-neutral">
    <p>Status: {{ donation()?.status }}</p>
    <p>Donation Date: {{ donation()?.createdAt | date : 'medium' }}</p>
  </div>
</div>