<div class="max-w-2xl mx-auto py-8 space-y-8">
  @if (donationStore.loading()) {
  <div class="text-center">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
  } @else if (donationStore.error()) {
  <div class="alert alert-error">
    {{ donationStore.error() }}
  </div>
  } @else if (donationStore.donations().length > 0) {
  <div class="space-y-8">
    <h2 class="text-2xl font-bold text-primary">Your Donations</h2>
    @for (donation of donationStore.donations(); track donation.id) {
    <div
      class="card bg-primary hover:bg-secondary cursor-pointer"
      [routerLink]="['/donation', donation.id]"
    >
      <div class="card-body">
        <div class="flex justify-between items-center">
          <div>
            <h3 class="font-semibold  text-neutral-content">Donation #{{ donation.id }}</h3>
            <p class="text-sm text-neutral-content">
              {{ donation.createdAt | date : 'medium' }}
            </p>
          </div>
          <div class="text-right">
            <p class="font-bold text-neutral-content">${{ donation.totalAmount | number : '1.2-2' }}</p>
            <p class="text-sm text-neutral-content">Status: {{ donation.status }}</p>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  } @else {
  <div class="text-center">
    <h2 class="text-2xl font-bold mb-4">No Donations Found</h2>
    <p class="font-bold">You haven't placed any donations yet.</p>
    <a routerLink="/products" class="btn btn-primary mt-4">Start Chariting</a>
  </div>
  }
</div>