<div  class="card h-full bg-base-100 shadow-xl hover:-translate-y-2 duration-200">
  <figure><img [src]="organisation().image" [alt]="organisation().name" /></figure>
  <div class="card-body">
    <h2 class="card-title">{{ organisation().name }}</h2>
    <p>{{ organisation().description }}</p>
    <div class="card-actions justify-between items-center">
      <span class="text-xl font-bold">${{ organisation().suggestedAmount }}</span>
      <button (click)="onAddToCart(organisation())" class="btn btn-primary">
        Add to Cart
      </button>
    </div>
  </div>
</div>